<template>
  <div class="general-font-size is-dark-grey">
    <v-container class="mt-10">
      <div class="font-weight-medium">
        Nutzungsbedingungen der Gesundheits- und Pflegeplattform des Smart Wendeler Landes
        für Anbieter
      </div>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Allgemeines</span>
      <p>
        Der Landkreis Sankt Wendel, Mommstraße 21-31 8, 66606 St. Wendel betreibt die
        Online-Plattform gesundes-wnd.de. Die Plattform ermöglicht es Anbietern und
        Dienstleistern, sich über die Gesundheits- und Pflegeplattform in Form einer
        Detailseite öffentlich darzustellen. Gleichzeitig werden den Unternehmen die
        Möglichkeiten gegeben Beiträge zu Themen aus den Bereichen Gesundheit und Pflege
        einzustellen und auf ihre jeweiligen Kurse und Veranstaltungen aufmerksam zu
        machen. Die Nutzung der Plattform erfolgt freiwillig und unentgeltlich.
      </p>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Vertragsschluss</span>
      <p>
        Die Nutzung der Plattform erfolgt auf Grundlage eines Nutzungsvertrags. Der
        Nutzungsvertrag kommt durch die kostenfreie Registrierung der Anbieter
        zustande. Die Laufzeit des Nutzungsvertrages ist unbefristet.
      </p>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Registrierung</span>
      <p>
        Jeder Anbieter aus dem Bereich Gesundheit und Pflege mit Sitz im Landkreis
        Sankt Wendel kann sich auf gesundes-wnd.de registrieren. Die Registrierung ist
        über die plattformeigene Registrierung, möglich. Dabei ist ein Name der
        Einrichtung zu wählen, der auf der Plattform öffentlich sichtbar ist.
      </p>
      <br />
      <p>
        Für die Registrierung ist die Angabe einer E-Mail-Adresse, Vor- und Nachname,
        Telefonnummer, als auch gängige Angaben zur Adresse erforderlich. Nach Abschluss
        der Registrierung erhält die Anbieterin bzw. der Anbieter eine E-Mail an die zuvor
        angegebene E-Mail-Adresse mit einem Bestätigungslink, um das neu angelegte
        Nutzerkonto zu bestätigen. Im gleichen Atemzug findet eine Verifizierung
        durch die entsprechenden Plattformadministratoren statt.
      </p>
      <br />
      <p>
        Mit der Registrierung erklären die Anbieter, dass sie die
        Datenschutzbestimmungen gelesen haben und mit diesen einverstanden sind. Bei der
        Verarbeitung von personenbezogenen Daten finden die Bestimmungen der DSGVO sowie
        des SDSG Anwendungen. Für weitere Details verweisen wir auf die
        Datenschutzerklärung.
      </p>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Erstellen von Inhalten</span>
      <p>
        Anbieter haben die Möglichkeit, ihre Einrichtung über die persönliche
        Detailseite vorzustellen und in Form einer Galerie Bilder hochzuladen. Außerdem
        haben die Anbieter die Funktion Beiträge und Neuigkeiten zu aktuellen Themen
        aus den Bereichen Gesundheit, Prävention und Pflege einzustellen. Zudem ist es
        gestattet Kurse und Veranstaltungen im vorgesehenen Bereich zu bewerben und auf
        diese aufmerksam zu machen.
      </p>
      <br />
      <p>
        Der Betreiber ist jederzeit berechtigt, den Zugang zu einzelnen Inhalten zu
        sperren, z. B. wenn der Verdacht besteht, dass diese gegen geltendes Recht oder
        Rechte Dritter verstoßen. Es besteht kein Anspruch der Anbieter auf
        Aufrechterhaltung einzelner Funktionalitäten der Plattform.
      </p>
      <p>
        Der Betreiber ist um einen störungsfreien Betrieb der Plattform bemüht. Dies
        beschränkt sich naturgemäß auf Leistungen, auf die der Betreiber Einfluss nehmen
        kann. Der Betreiber ist es unbenommen, den Zugang zur Plattform aufgrund von
        Wartungsarbeiten, Kapazitätsbelangen oder anderen Ereignissen, die nicht in seinem
        Machtbereich stehen, ganz oder teilweise, zeitweise oder auf Dauer einzuschränken.
      </p>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Pflichten der Anbieter</span>
      <p>
        Die Anbieter verpflichten sich, bei der Erstellung und Verwendung eigener
        Inhalte geltendes Recht (z. B. Straf- und Jugendschutzrecht) einzuhalten und nicht
        gegen Rechte Dritter (z. B. Namens-, Marken-, Urheber- und Datenschutzrechte) zu
        verstoßen. Das Gleiche gilt für das Setzen von externen Links. Nicht erlaubt ist
        insbesondere das Verbreiten von Inhalten, die Rassismus, Gewaltverherrlichung und
        Extremismus irgendwelcher Art, Aufrufe und Anstiftung zu Straftaten und
        Gesetzesverstößen, Drohungen gegen Leib, Leben oder Eigentum, Hetzen gegen
        Personen oder Unternehmen, persönlichkeitsverletzende Äußerungen, Verleumdung,
        Ehrverletzung und üble Nachrede von Nutzern und Dritten sowie Verstöße gegen das
        Wettbewerbs- bzw. Lauterkeitsrecht (UWG), urheberrechtsverletzende Inhalte oder
        andere Verletzungen von Immaterialgüterrechten, sexuelle Belästigung von
        Nutzern und Dritten, Pornografie, anstößige, sexistische oder obszöne
        Materialien und Ausdrucksweisen darstellen, betreffen oder beinhalten.
      </p>
      <br />
      <p>
        Persönlichkeitsverletzend und deshalb nicht zulässig ist es zudem, die Anonymität
        anderer Nutzer aufzuheben oder Informationen von anderen Nutzern aus privaten
        Nachrichten, E-Mails oder Chats bekanntzugeben, die nicht für die Öffentlichkeit
        bestimmt sind. Anbieter dürfen keine Informationen in ihre Beiträge
        aufnehmen oder sonst wie bekannt machen, die Aufschluss über die Identität anderer
        Nutzer geben könnten oder die sie von anderen Nutzern ausschließlich in
        privaten Nachrichten, E-Mails oder Chats erhalten haben.
      </p>
      <br />
      <p>
        Die Anbieter verpflichten sich, jede Handlung zu unterlassen, die geeignet
        ist, die Funktionalität der Plattform zu beeinträchtigen, insbesondere die
        Plattform übermäßig zu belasten. Die Anbieter verpflichten sich weiterhin,
        jede Handlung zu unterlassen, die geeignet ist, technische Beschränkungen und
        Zugangsbeschränkungen der Plattform zu umgehen, und/oder die Plattform zu
        verändern, zu modifizieren, weiterzuentwickeln oder weiterzuverbreiten.
      </p>
      <br />
      <p>
        Urheberrechtlich geschützte Inhalte dürfen ohne Zustimmung des jeweiligen Rechtsinhabers 
        nur im Rahmen des anwendbaren
        Zitatrechts wörtlich in Beiträge aufgenommen werden. Zitate sind durch Hervorheben
        mittels Zitatfunktion und Quellenangabe zu kennzeichnen. Insbesondere nicht
        korrekt zitierte Beiträge können von den Moderatoren entfernt oder berichtigt
        werden. Die Verbreitung und/oder öffentliche Wiedergabe von jedweden Inhalten der
        Plattform ohne Einwilligung des Betreibers ist untersagt. Dies gilt nicht für
        eigene Inhalte der Nutzer oder Inhalte, die auf der Plattform ausdrücklich
        zur Vervielfältigung (z. B. zum Download oder Teilen auf Social Media) freigegeben
        sind.
      </p>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Nutzungsrechte</span>
      <p>Erstellte Inhalte werden automatisch veröffentlicht.</p>
      <br />
      <p>
        Der Betreiber prüft diese Inhalte und Daten vor Veröffentlichung nicht auf
        inhaltliche Angemessenheit, sachliche Richtigkeit oder auf etwaige Rechtsverstöße.
        Der Betreiber wird konkreten Hinweisen auf problematische Inhalte und Daten jedoch
        unverzüglich nachgehen. Das Urheberrecht verbleibt bei den Anbietern. Die
        Anbieter räumen dem Landkreis Sankt Wendel das Recht ein, von Anbietern
        eingestellte Beiträge (einschließlich Informationen der Detailseite) zum Zwecke
        des Betriebs der Plattform öffentlich zugänglich zu machen. Darüber hinaus darf
        der Landkreis die Beiträge zum Zwecke der angemessenen Präsentation des Projekts
        gegenüber seinen bestehenden und am Projekt interessierten Kooperationspartnern
        nutzen und hierzu vorführen und öffentlich wiedergeben. Die vorgenannten
        Nutzungsrechte schließen das Recht ein, die Beiträge vollständig oder in
        bearbeiteter Form zu nutzen. Die vorstehenden Rechte werden dem Anbieter in Form
        eines einfachen, nicht-ausschließlichen Rechts unentgeltlich und unwiderruflich
        zur zeitlich, räumlich und inhaltlich unbeschränkten Nutzung eingeräumt.
      </p>
      <br />
      <p>
        Soweit an der Plattform bzw. den hierauf durch den Betreiber oder deren
        Vertragspartner redaktionell bereitgestellten Inhalten Urheber- oder
        Leistungsschutzrechte bestehen, liegen diese Rechte bei dem Betreiber oder deren
        Vertragspartnern.
      </p>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Haftung</span>
      <p>
        Die Anbieter sind allein für ihre Inhalte und für die Einhaltung der
        gesetzlichen und sonstigen Vorschriften und Regelungen verantwortlich. Alle
        Inhalte eines Anbieters drücken die Ansicht des jeweiligen Autors aus und 
        geben nicht die Meinung des Betreibers wieder.
      </p>
      <br />
      <p>
        Der Betreiber kann für die Inhalte der Anbieter nicht verantwortlich gemacht
        werden.
      </p>
      <p>
        Der Betreiber ist berechtigt, Inhalte der Anbieter vorläufig oder dauerhaft
        zu sperren, vom Netz zu nehmen oder sie so zu verändern, dass Rechte Dritter nicht
        mehr verletzt werden. Der Betreiber ist ferner berechtigt, die geforderten
        Unterlassungserklärungen abzugeben, wenn der Betreiber wegen des Inhalts einer
        Anbieterin bzw. eines Anbieters von Dritten auf Unterlassung in Anspruch genommen
        wird oder wenn der Betreiber sonst von der Rechtsverletzung Kenntnis erlangt.
      </p>
      <br />
      <p>
        Der Betreiber haftet für die Plattform vorbehaltlich der nachstehenden Regelungen
        nach den gesetzlichen Vorschriften. Der Betreiber haftet unbeschränkt bei Vorsatz
        und grober Fahrlässigkeit sowie im Fall von Personenschäden. Im Falle leichter
        Fahrlässigkeit haftet der Betreiber nur für Verletzungen wesentlicher
        Vertragspflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages
        überhaupt erst ermöglicht und auf deren Einhaltung die Anbieter regelmäßig
        vertrauen dürfen (Kardinalpflichten). Die Haftung ist in diesem Fall begrenzt auf
        die Höhe des vertragstypischen, vorhersehbaren Schadens. Soweit die Haftung des
        Betreibers ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche
        Haftung seiner Beschäftigten und Erfüllungsgehilfen.
      </p>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Freistellungsanspruch</span>
      <p>
        Die Anbieter stellen den Landkreis für den Fall der Inanspruchnahme wegen
        vermeintlicher oder tatsächlicher Rechtsverletzung und/oder Verletzung von Rechten
        Dritter durch Nutzer im Zusammenhang mit der Nutzung des Dienstes
        vorgenommenen Handlungen von sämtlichen sich daraus ergebenen Ansprüchen Dritter
        frei. Darüber hinaus verpflichten sich die Anbieter, dem Landkreis alle
        Kosten zu ersetzen, die diesem infolge der Inanspruchnahme durch Dritte entstehen.
        Zu den erstattungsfähigen Kosten zählen auch die angemessenen Kosten einer
        Rechtsverteidigung.
      </p>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Beendigung des Nutzungsverhältnisses</span>
      <p>
        Die Anbieter können das Nutzungsverhältnis jederzeit ordentlich gegenüber
        dem Betreiber oder durch Löschung des Nutzerkontos kündigen. Das Recht zur
        außerordentlichen Kündigung aus wichtigem Grund bleibt unberührt. Für den
        Betreiber liegt ein wichtiger Grund insbesondere dann vor, wenn Anbieter
        ihre Verpflichtungen aus diesem Nutzungsvertrag nachhaltig verletzen.
      </p>
      <br />
      <p>
        Der Betrieb der Plattform kann jederzeit von dem Betreiber eingestellt werden.
      </p>
    </v-container>
    <v-container>
      <span class="font-weight-medium">Schlussbestimmungen</span>
      <p>
        Auf diese Nutzungsbedingungen findet ausschließlich deutsches Recht Anwendung.
      </p>
      <br />
      <p>
        Der Betreiber behält sich vor, diese Nutzungsbedingungen jederzeit zu ändern und
        die weitere Nutzung der Plattform von der Zustimmung zu den geänderten
        Nutzungsbedingungen abhängig zu machen. Sollten eine oder mehrere Bestimmungen
        dieser Nutzungsbedingungen unwirksam sein oder unwirksam werden, wird dadurch die
        Wirksamkeit der anderen Bestimmungen nicht berührt.
      </p>
    </v-container>
  </div>
</template>
